.projects-hero {
  height: 400px;
  background: linear-gradient(rgba(37, 42, 52, 0.65), rgba(37, 42, 52, 0.65));
}

.projects-hero .hero-title {
  font-size: var(--text-5xl);
  line-height: 60px;
  margin-bottom: var(--space-4);
  text-transform: capitalize;
}

.projects-section {
  padding: var(--space-20) 0;
}

.projects-container {
  flex-direction: column;
  gap: var(--space-16);
}
